<!doctype html>
<html lang="en">
<head>
    <% include ../partials/tag-maganger.ejs %>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cristian Martinez</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/src/styles/main.css">
</head>
<body>
<% include ../partials/tag-manager.noscript.ejs %>
<div id="gradient-background"></div>
<div id="main-background"></div>

<header id="main-header">
    <a href="#" id="logo">
        <object type="image/svg+xml" data="/src/images/CM.svg" class="logo"></object>
    </a>
</header>

<div class="section home-section" id="home">
    <div class="section-container">
        <div class="welcome-message">
            <h1>hello.</h1>
            <p>
                My name is Cristian (You can call me "Cris"), father and husband. Im a web developer from Colombia. I
                have 5+ years' experience doing cool stuff. Above and beyond that, let me show you
                <span class="bold">what I do.</span>
            </p>
        </div>
    </div>
</div>

<div class="section work-section" id="work">
    <div class="section-container">
        <div class="section-content">
            <h2>what I do.</h2>
            <p>
                I'm a experimented developer with deep knowledge on web. Right now I work as Lead developer at Cabi, An
                international fashion company from the USA. There I work with a big team around the world doing enterprise
                software. Before that, I was working with startups, agencies and software companies from Colombia and
                USA.
            </p>

            <p>Development and Architecture are the things I love to do, TRUST ME… I REALLY LOVE IT.</p>

            <p>I also designed this website.</p>
        </div>
    </div>
</div>

<div class="section contact-section" id="experience">
    <div class="section-container">
        <div class="section-content">
            <h2>experience</h2>
            <ul class="experience-list">
                <li><a href="https://cabionline.com" target="_blank">Cabi (LA)</a>
                    <p>Lead Developer - 2016</p></li>
                <li><a href="http://auctioleads.com/" target="_blank">Auctio (NY)</a>
                    <p>Lead Developer - 2015</p></li>
                <li><a href="http://chefcompany.co/" target="_blank">Chef (COL)</a>
                    <p>MCI Developer - 2014</p></li>
                <li><a href="http://www.intergrupo.com/" target="_blank">Intergrupo Digital (COL)</a>
                    <p>Developer - 2013</p></li>
                <li><a href="http://www.tresdiseno.com/" target="_blank">3 Diseño (COL)</a>
                    <p>Web Developer - 2012</p></li>
                <li><a href="#">Freelance</a>
                    <p>Web Developer - 2010, 2011</p></li>
            </ul>
        </div>
    </div>
</div>

<div class="section contact-section" id="skills">
    <div class="section-container">
        <div class="section-content">
            <h2>skills</h2>

            <p>I'm in love with programming, This is a short list of my knowledge</p>
            <ul>
                <li><a href="#">JavaScript</a>
                    <p>Advanced knowledge in vanillaJS, also I work with Angular, React, Ember and Backbone.</p></li>
                <li><a href="#">PHP</a>
                    <p>Good understanding of OOP, Design Patterns, and experience with different frameworks like Laravel,
                        Symfony, Yii and Slim.</p></li>
                <li><a href="#">Java</a>
                    <p>With 1 year working for enterprise applications.</p></li>
                <li><a href="#">Mysql</a>
                    <p>Performance, good schema design and normalization are the things I have in mind each time I use
                        this SQL engine.</p></li>
            </ul>
        </div>
    </div>
</div>


<div class="section contact-section" id="contact">
    <div class="section-container">
        <div class="section-content">
            <h2>contact me</h2>

            <p><a href="https://twitter.com/iscristianhere" target="_blank">@iscristianhere</a></p>
            <p><a href="https://www.linkedin.com/in/cristianmartinezs" target="_blank">linkedin</a></p>
            <p>dev.cmartinez@gmail.com</p>
        </div>
    </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88415749-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="/src/bundle.js"></script>
</body>
</html>